@charset "utf-8";

body{
	background-color: #fff;
	color: #000;
}

a:visited {
	background-color: transparent;
	color: #00a;
}

.navbar-fixed-top {
	border-color: #88f;
	background-color: #aaf !important;
}

.navbar-fixed-top a {
	color: #008;
}

header {
	background-color: #bbf;
	color: #333;
}

.leftmenu {
	background-color: #f5f5ff;
	border-right: 1px solid #eee;
}

.tagcloud--item:hover {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid #333;
}

.light .tagcloud--item {
    color: #fff;
}

.light .tagcloud--item:hover {
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid #fff;
}
.wave-comment {
  text-decoration-color: #ddd;
  color: #aaa;
}


.omitLoad {
  text-decoration: none;
  color: #aaa
}
.omitLoad:hover {
  text-decoration: underline;
  color: #aaa
}

.omitLoad:visited {
  text-decoration: none;
  color: #aaa
}

