@charset "utf-8";

*{ margin:0; padding:0;}
img{ border:0;}

body{
	text-align: left;
	font-size: 13px;
	*font-size: small;
	*font: x-small;
	width: 100%;
	height: 100%;
	background-position: left top;
	background-repeat: repeat;
}

a:link {
	text-decoration: none;
}

a:visited {
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

header {
  padding: 60px 0 0px;
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  right:0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

section {
  padding: 10px 0px;
}

.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 220px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer{
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  width: 100%;
}

.lead {
  font-size: 1rem;
  margin-bottom: 0;
}
.align-items-center {
  display: flex;
  align-items: center !important;
}
.leftmenu {
  padding: 0;
}

.tagcloud {
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}

.tagcloud--item:hover {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1 !important;
    z-index: 100 !important;
}

.dfs-0{font-size: 3rem;}
.dfs-1{font-size: 2.5rem;}
.dfs-2{font-size: 2rem;}
.dfs-3{font-size: 1.75rem;}
.dfs-4{font-size: 1.5rem;}
.dfs-5{font-size: 1.25rem;}
.dfs-6{font-size: 1rem;}
.dfs-7{font-size: 0.8rem;}
.dfs-8{font-size: 0.6rem;}
.dfs-9{font-size: 0.4rem;}

.contentsTitle{
  font-size: 1.25rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.userLink{
  color: inherit;
  text-decoration: none;
}
.tooltip-inner {
  /* width: 300px; *//* 任意の幅 */
  max-width: 300px; /* 必要であれば最大幅を指定 */
}

.vtree-dirvr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentcolor;
  opacity: .1;
  margin-left: 1rem;
  display: inline-block;
  _display: inline;
}
.vtree-dirhr{
  width: 0.5rem;
  height: 1px;
  background-color: currentcolor;
  opacity: .1;
  margin-top: 1.5rem;
  display: inline-block;
  _display: inline;
}
.vtree-area{
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.vtree-areaChild{
  align-items: start;
  display: flex;
  width: 100%;
}

.wave-comment {
  text-decoration: underline overline;
  text-decoration-style: wavy;
}

#contentArea table {
border-collapse: collapse;
}

#contentArea table, td, th {
border: 1px solid black;
padding: 5px;
}

#contentArea table tr:nth-child(even) {
background: #F9F9F9;
}

#contentArea table tr:nth-child(odd) {
background: #FFFFFF;
}

.contents-index-thread-header {
  display: flex;
  /* font-size: 0.6rem; */
}
.contents-index-thread-navbar-nav {
  padding-top: 1px;
  align-items: start;
}
.contents-index-thread-navbar {
  padding: 0px;
}
.contents-index-thread-navbar-button {
  margin: 0px;
  padding: 0px;
  line-height: 0.6;
}
.contents-index-thread-navbar-button::after {
  display: none; 
}
.contents-index-thread-navbar-button .navbar-toggler-icon {
  padding: 0px;
  margin: 0px;
  font-size: 0.6rem; /* フォントサイズを小さくする */
  height: 1rem; /* アイコンの高さを小さくする */
  width: 1rem; /* アイコンの幅を小さくする */
}

.btn-nano {
  padding: .1rem .2rem;
  font-size: .6rem;
  line-height: 1.2;
  border-radius: .2rem;
}

.contents-preview {
  overflow: scroll;
  border: 1px solid #dcdcdc;
  resize: vertical;
  height: 200px;
}

.md-icon-link {
  font-size: 0.6em;
  vertical-align: middle;
  opacity: 0.2;
  margin-left: 0.2em;
  transform: rotate(45deg);
}
.md-icon-link:hover {
  opacity: 1.0;
  text-decoration: none;
  color: inherit;
}

.contents-title-area {
  display: flex;
}
.contents-title-area .contents-title {
  font-weight: 500;
  font-size: 1.25rem;
  /* margin-top: 0.1em; */
}
.contents-index-contents-navbar-nav {
  padding-top: 1px;
  align-items: start;
}
.contents-index-contents-navbar {
  padding: 0px;
}
.contents-index-contents-navbar-button {
  margin: 0px;
  padding: 0px;
  line-height: 0.6;
}
.contents-index-contents-navbar-button::after {
  display: none; 
}
.contents-index-contents-navbar-button .navbar-toggler-icon {
  padding: 0px;
  margin: 0px;
  font-size: 0.6rem; /* フォントサイズを小さくする */
  height: 1rem; /* アイコンの高さを小さくする */
  width: 1rem; /* アイコンの幅を小さくする */
}
